<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Pay Now</title>
  </head>
  <body>
    <div class="text-center">
      <h2>Scan to pay</h2>
    </div>
    <div class="text-center">
      {% if qrc %}
      <div><img src="{{ qrcode(qrc)}}"></div>
      {% endif %}
    </div>
    <div class="">
      <form class="" action="{{ url_for('payment_status', order_id=order_id) }}" method="GET">
        <input class="btn btn-info" type="submit" name="continue" value="Continue">
      </form>
    </div>

  </body>
</html>
